<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">ABOUT</h5>
                    <div class="text-center">
                        <img src="static/assets/images/wastewatcher.png" style="width: 12%;height: 120px;"/>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <ul>
                            <li>
                                WasteWatcher is designed to prevent food waste.
                            </li>
                            <li>
                                We need your help to reduce the food waste in our university. With a few simple clicks,
                                you will be able save our environment and get a free meal at the end of it!
                            </li>
                            <li>
                                All you have to do is answer whether you will be dining at the Curve daily (mon-fri),
                                if so, choose what meal you want.
                                </li>
                                <li>By completing this by 8am, you wil earn <b>25</b> points,
                                by 10 am you will earn <b>15</b> points. Even if you say no you will earn <b>10</b> points
                            </li>
                            <li>
                                Once you have reached 500 points you will be able to have a <b>free</b> meal at the Curve!
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
